container_commands:
    01_makemigrations:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
        leader_only: true
    02_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true
    03_superuser:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
        leader_only: true
option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: core.wsgi
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: core.settings
        DB_PSQL_NAME: ebdb
        DB_PSQL_USER: ChatApiAdmin
        DB_PSQL_PASSWORD: OB9hh$r19SxY9fGmky$L
        DB_PSQL_HOST: awseb-e-cdya2pj3tc-stack-awsebrdsdatabase-pgxcf3ggn4vt.cl7mhczggvjv.eu-west-3.rds.amazonaws.com
        DB_PSQL_PORT: 5432
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
        /media: media